html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: space-between;
}

.paddingLR {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    background: linear-gradient( 90deg, rgba(161, 207, 255, 1) 0%, rgba(114, 214, 238, 1) 50%, rgba(137, 191, 251, 1) 87%);
    z-index: 1;
}

.navleft {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 12%;
    height: 12%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: var(--logo-font);
    font-weight: 700;
    font-style: italic;
}

.menu-btn {
    display: none;
}

.menu-btn-label {
    align-self: center;
    z-index: 1;
    color: var(--text-color);
    font-size: 1.5rem;
}

.menu-btn:checked~.menu-btn-label>.openBtn,
.menu-btn:not(:checked)~.menu-btn-label>.closeBtn {
    display: none;
}

.menu-btn:checked~.menu-btn-label>.closeBtn,
.menu-btn:not(:checked)~.menu-btn-label>.openBtn {
    display: block;
}

.closeBtn {
    animation: menuBtnOpen 300ms ease-in-out forwards;
    color: white;
}

.menubg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
}

.menu-btn:checked~.menubg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.menuBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

.menu-btn:checked~.menubg .menuBox {
    animation: menuOpen 300ms ease-in-out forwards;
}

.menubg a {
    font-size: 1.2rem;
    font-family: "Josefin Slab", sans-serif;
    padding-bottom: 2rem;
    color: white;
}

.desktopmenu {
    display: none;
}

.home {
    display: flex;
    flex-direction: column;
}

.home-body {
    display: flex;
    flex-direction: column;
}

.homeleft {
    display: flex;
    flex-direction: column;
}

.homeright {
    display: none;
}

.title {
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--text-color);
    line-height: 1.2;
    font-family: var(--primary-font-family);
    font-weight: bold;
}

.para {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--text-color);
    line-height: 2;
    font-family: var(--primary-font-family);
    font-style: italic;
}

.mockup {
    display: flex;
    justify-content: flex-end;
    margin-top: -12rem;
    width: 100%;
}

.mockupImg {
    width: 120vw;
    height: 45rem;
    position: relative;
    bottom: -8rem;
}

.homeBtnGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(0, 0, 0, 0.1);
}

.btn-explore {
    background-color: rgb(98, 71, 114, 0.6);
    color: white;
}

.btn-explore a {
    color: white;
}

.btn-explore,
.btn-download {
    font-size: 0.9rem;
    border: none;
    padding: 0.7rem 0;
    border-radius: 5px;
    font-family: var(--primary-font-family);
    font-weight: bold;
}

.testimonials .title {
    text-align: center;
}

.testimonials-section {
    height: 30rem;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 80px 12px;
    border-radius: 0%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
    left: -300%;
}

.slider__nav:checked:nth-of-type(5)~.slider__inner {
    left: -400%;
}

.slider__inner {
    position: absolute;
    top: 80px;
    left: 0;
    width: 500%;
    height: auto;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__caption {
    font-size: 14px;
    color: var(--text-color);
    opacity: .5;
    font-family: 'Roboto';
    font-weight: bold;
}

.slider__txt {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--testimonial-font-family);
    line-height: 1.7;
    color: var(--text-color);
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 750px;
}

quote {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 100px;
    color: #ec2027;
    margin-bottom: 0;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.7rem;
    line-height: 2;
}

.footerbox {
    width: 100%;
    padding: 1rem 0;
    font-family: var(--primary-font-family);
    background: rgb(235, 177, 193);
    background: radial-gradient(circle, #85a2ee 3%, #a8a8e7 100%);
    /* background: rgb(212, 232, 233);
      background: linear-gradient(90deg, #4ECBD9 0%, #0568A6 50%, #084DA6 87%); */
}

.footericon {
    display: flex;
    justify-content: space-around;
}

.footericon i {
    padding: 0.3rem;
    font-size: 0.7rem;
}

.featuresWrapper,
.aboutusWrapper,
.downloadWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-right-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-text-group {
    display: flex;
    justify-content: center;
}

.download-text-group i {
    color: var(--text-color);
    padding-right: 1rem;
}

.download-btn-group {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    column-gap: 1rem;
}

.PlayStore,
.AppStore {
    padding: 2rem;
    border-style: none;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--download-btn-color);
}

.featureImg,
.aboutusImg {
    width: 14rem;
    height: 12rem;
    margin-bottom: 0.7rem;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featuresText {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.3;
}

.desktop-divider {
    display: none;
}

@media (min-width: 540px) and (max-width: 768px) {
    .desktop-divider {
        display: block;
    }
    .home-body {
        flex-direction: row;
        justify-content: space-between;
    }
    .homeleft {
        align-items: flex-start;
        justify-content: center;
        margin-left: 4rem;
    }
    .homeright {
        display: flex;
    }
    .desktop-mockup {
        width: 10rem;
        height: 20rem;
        position: relative;
    }
    .title {
        font-size: 1.5rem;
    }
    .para {
        font-size: 0.7rem;
    }
    .mockup {
        display: none;
    }
    .homeBtnGroup {
        background: none;
        padding-top: 1rem;
    }
    .btn-explore,
    .btn-download {
        font-size: 0.6rem;
        padding: 1rem;
    }
    .features {
        flex-direction: row;
        column-gap: 2rem;
    }
    .aboutus,
    .download {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        max-width: 90vw;
    }
}

@media (min-width: 769px) {
    .desktop-divider {
        display: block;
    }
    .navbar a {
        font-size: 2rem;
    }
    .menu-btn-label {
        display: none;
    }
    .desktopmenu {
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        margin-right: 1rem;
    }
    .desktopmenu a {
        font-family: var(--logo-font);
        font-size: 1rem;
        padding-right: 1rem;
    }
    .home-body {
        flex-direction: row;
        justify-content: space-around;
    }
    .homeleft {
        align-items: flex-start;
        justify-content: center;
        margin-left: 4rem;
    }
    .homeright {
        display: flex;
        align-items: flex-start;
    }
    .desktop-mockup {
        width: 16rem;
        height: 28rem;
        position: relative;
    }
    .title {
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .para {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
    .mockup {
        display: none;
    }
    .homeBtnGroup {
        background: none;
        padding-top: 1rem;
    }
    .btn-download,
    .btn-explore {
        width: 40vw;
        padding: 1rem;
        font-size: 1rem;
    }
    .btn-download:hover,
    .btn-explore:hover,
    .PlayStore:hover,
    .AppStore:Hover {
        background-color: var(--hover-color);
    }
    .featuresWrapper {
        justify-content: space-around;
        align-items: center;
    }
    .features {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .featureImg {
        width: clamp(20rem, 50vw, 40rem);
        height: 25rem;
        padding-left: 3rem;
        padding-right: 5rem;
    }
    .aboutusWrapper,
    .downloadWrapper {
        justify-content: space-around;
        align-items: center;
    }
    .aboutus,
    .download {
        flex-direction: row;
        justify-content: space-between;
        max-width: 90vw;
    }
    .aboutusImg,
    .downloadImg {
        width: clamp(20rem, 50vw, 40rem);
        height: 25rem;
    }
    .aboutus .para {
        padding-left: 2rem;
    }
}

@keyframes menuOpen {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes menuBtnOpen {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotate(180deg);
    }
}