:root {
    --primary-font-family: Arial, Helvetica, sans-serif;
    --testimonial-font-family: 'Roboto';
    --logo-font: Alegreya, serif;
    --text-color: #663399;
    --download-btn-color: #b4d6ff;
    --hover-color: #9edaf4;
}